* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#box {
	font-family: "ו";
	font-size: 12px;
	color: #000000;
	height: auto;
	width: 870px;
	margin-right: auto;
	margin-left: auto;
}
#top {
	background-image: url(images/index01_01.gif);
	background-repeat: no-repeat;
	float: left;
	height: 181px;
	width: 306px;
	padding-top: 46px;
	padding-right: 564px;
}
#foot {
	background-image: url(images/index01_11.gif);
	background-repeat: no-repeat;
	float: left;
	height: 72px;
	width: 870px;
}
#mid {
	float: left;
	height: auto;
	width: 870px;
}
#left {
	margin: 5px;
	float: left;
	height:auto;
	width: 165px;
	border: 1px solid #999999;
	background-color: #f2cadc;
	padding-top: 20px;
}
#right {
	float: left;
	height: 326px;
	width: 685px;
	margin-top: 5px;
	padding-top: 30px;
	border: 1px solid #999999;
	background-color: #fefafc;
}
#right01 {
	float: left;
	height: 590px;
	width: 685px;
	margin-top: 5px;
	padding-top: 30px;
	border: 1px solid #999999;
	background-color: #fefafc;
}
#left img {
	margin-top: 10px;
}
